<div class="featured_small" >
            <div class="prod_img">
            <img src="http://i.imgur.com/qyk1gD3.jpg"/>
            </div>
            <div class="small_desc"><h3 ng-bind="item.title">Flower Dress</h3><p ng-bind="item.description">Why that's me, look at me, I'm an old man. Oh, you make it sound so easy. I just, I wish I wasn't so scared. What were you doing in the middle of the street, a kid your age. Doc? Wrecked?</p>
            </div>
            <div class="action">
              <a class="button" ui-sref="product({ id: item.guid})"> Read More</a>
            </div>
          </div>